
.parallax-artigos {
    /* The image used */
    background-image: url('/img/banners/artigos.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

content{
	width:80% ;
	position: center;
	margin: auto;
}